/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

h1{
  text-align: center;
  margin-top: 50px;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.answerContainer{
  justify-content:space-evenly;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  display: block;
}

footer{
  text-align: center;
}

.box{
  margin: auto;
  width: 33%;
  border: 3px solid black;
}

button{
  margin-top: 15px;
}
 
h2 {
  text-align: center;
}
