/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

h1, h2{
  text-align: center;
  margin-top: 25px;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto';
}
body{
  /* display: block; */
  color: #8D9092;
  background-color: #13294B;
}

.box{
  text-align: center;
  margin: auto;
  width: 33%;
  border: 10px groove #8D9092;
  color: #13294B;
  background-color: #77b1db;
}

button{
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
}

form{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: black
}

button.submit{
  align-self: center;
}

@media all and (max-width: 420px){
  .box{
    text-align: center;
    margin: auto;
    width: 75%;
    border: 5px groove #13294B;
    background-color: #7BAFD4;
  }
}